* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #f0f2f5;
    height: 100vh;
    /* Убрано display: flex */
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

.hidden {
    display: none !important;
}